/*
************************
Created by Stepan Pesout
*****www.pesout.eu******
*****@stepanpesout******
************************
*/

body
{
background-color:#fff;
}

#obsah
{
color:#000;
}

#obsah a
{
color:#8e44ad;
}

xmp
{
background-color: #eee;
}
