/*
************************
Created by Stepan Pesout
*****www.pesout.eu******
*****@stepanpesout******
************************
*/

body
{
background-color:#252525;
}

#mode
{
background-color:#353535;
color:#fff;
}

#nadpis
{
color:#fff;
}

#obsah
{
color:#CFCFCF;
}

#obsah a
{
color:#bdc3c7;
}

xmp
{
background-color: #353535;
}
