/*
************************
Created by Stepan Pesout
*****www.pesout.eu******
*****@stepanpesout******
************************
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body
{
font-family: 'Roboto', sans-serif;
background-color:#fff;
}

code, pre
{
font-family:monospace;
}


#nadpis
{
background-color:#8e44ad;
color:#fff;
font-size:26pt;
text-align:center;
padding:18px;
}

#menu
{
background-color:#9b59b6;
color:#eee;
font-size:11pt;
text-align:center;
padding:10px;
}

#mode
{
background-color:#bdc3c7;
color:#000;
font-size:11pt;
text-align:center;
padding:10px;
cursor:pointer;
}

#menu>a
{
color:#fff;
text-decoration:none;
padding:10px;
}


#obsah
{
max-width:900px;
width:90%;
margin-left:auto;
margin-right:auto;
line-height:24px;
}

#obsah a
{
color:#8e44ad;
}

h3
{
font-size:21pt;
margin-top:40px;
line-height:33px;
}

h2
{
font-size:25pt;
margin-top:40px;
line-height:37px;
}

h4
{
font-size:16pt;
margin-top:30px;
line-height:29px;
}

h5
{
font-size:14pt;
margin-top:20px;
line-height:26px;
}

xmp
{
white-space: pre-wrap;
background-color:#eee;
padding:10px;
padding-bottom:30px;
border-radius:3px;
font-family: 'Roboto Mono', monospace;
font-size:9pt;
}

p
{
margin-bottom:20px;
margin-top:15px;
text-align:justify;
}

img
{
width:100%;
margin-bottom:10px;
margin-top:10px;
}

b, strong
{
font-weight:bold;
}

u
{
text-decoration:underline;
}

i, em
{
font-style:italic;
}

span
{
font-style:italic;
}
span:before
{
content:"↑";
font-size:25pt;
}

#obtekany
{
float:left;
width:50%;
max-width:300px;
margin:15px;
margin-left:0px;
}

td, th
{
border: 1px solid black;
padding:3px;
}

th
{
font-weight:bold;
background-color:#ddd;
}
